In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
iris_df = pd.read_csv('Iris.csv')
iris_df.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width Species
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [4]:
print('Size of data :',iris_df.shape)

Size of data : (150, 5)

In [5]:
iris_df['Species'].value_counts()

Setosa        50
Versicolor    50
Virginica     50
Name: Species, dtype: int64

In [6]:
X = iris_df.drop("Species", axis = 1)
y = iris_df["Species"]

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [9]:
print('Size of training data :',X_train.shape[0])
print('Size of test data :',X_test.shape[0])

Size of training data : 120
Size of test data : 30

In [10]:
from sklearn.ensemble import RandomForestClassifier

In [11]:
clf=RandomForestClassifier(n_estimators=10)
clf.fit(X_train,y_train)

RandomForestClassifier(n_estimators=10)

In [12]:
y_pred=clf.predict(X_test)
y_pred

array(['Versicolor', 'Setosa', 'Virginica', 'Versicolor', 'Versicolor',
       'Setosa', 'Versicolor', 'Virginica', 'Versicolor', 'Versicolor',
       'Virginica', 'Setosa', 'Setosa', 'Setosa', 'Setosa', 'Versicolor',
       'Virginica', 'Versicolor', 'Versicolor', 'Virginica', 'Setosa',
       'Virginica', 'Setosa', 'Virginica', 'Virginica', 'Virginica',
       'Virginica', 'Virginica', 'Setosa', 'Setosa'], dtype=object)

In [13]:
from sklearn.metrics import accuracy_score

In [15]:
print('Random forest accuracy :',accuracy_score(y_test,y_pred))

Random forest accuracy : 1.0